.dynamic-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 1rem auto;

  .input-group {
    display: flex;
    width: 15rem;

    label {
      margin: 0.5rem 0;
    }
    input {
      width: 100%;
    }
  }
}
